/// Generate facet styles
///
/// Facet is a flat surface on an object. Here we use the term to
/// refer to a container with fixed positioning that span the
/// entire view port.

%legco-facet-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;

  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  background: legco-get-color("white");

  overflow-y: auto;

  z-index: 1000;
}

%legco-facet-footer {
  position: fixed;
  right: 0;
  bottom: 0;

  border-top: 1px solid legco-get-color("mid-grey");

  width: 100%;

  background-color: legco-get-color("white");
  box-shadow: 0 0 5px rgba(177,180,182,0.8);
}
