@import 'styles/base';

.legco-select {
  display: block;

  padding: legco-get-space(1);

  width: 100%;

  @include legco-responsive-typography(19);

  border: $legco-border-width-form-element solid $legco-input-border-color;

  &:focus {
    outline: $legco-focus-width solid $legco-focus-color;
    outline-offset: 0;

    box-shadow: inset 0 0 0 $legco-border-width-form-element;
  }
}
