@import '../../styles/base';

// Styling for the finder

// Get height of the show results button
$candidate-finder-show-results-height:
  legco-get-space(2) + // Button top and bottom paddings
  get-typography-property(19, "line-height", null) * 2; // Button line height

$candidate-finder-footer-top-bottom-padding: legco-get-space(3);

$candidate-finder-footer-height: 
  $candidate-finder-show-results-height + 
  $candidate-finder-footer-top-bottom-padding * 2;

.candidate-finder {
  @extend %legco-facet-wrapper;
}

.candidate-finder__header {
  @include legco-width-container;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: legco-get-space(3);
  padding-bottom: legco-get-space(3);
}

.candidate-finder__title {
  margin: 0;
}

.candidate-finder__return-link {
  display: inline-block;
  // Remove default button styles
  margin: 0;
  padding: 0;
  border-width: 0;
  background: none;
  cursor: pointer;
  -webkit-appearance: none;

  // Font size and line height
  @include legco-responsive-typography(19);

  color: $legco-link-color;
  @include legco-media-query($media-type: print) {
    color: $legco-print-text-color;
  }

  &:hover {
    color: $legco-link-hover-color;
    text-decoration: underline;
  }

  // For devices that can't hover (e.g. cell phones),
  // remove hover state as it can get stuck in that state.
  @media (hover: none) {
    &:hover {
      color: $legco-link-color;
      text-decoration: none;
    }
  }

  &:focus {
    @include legco-focused-text;
  }

  &:hover:not(:focus) {
    text-decoration: underline;
  }

  // Remove default button focus outline in Firefox
  &::-moz-focus-inner {
    padding: 0;
    margin: 0;
  }
}

.candidate-finder__form {
  $candidate-finder-footer-top-margin: legco-get-space(4);
  @include legco-width-container;

  padding-bottom: 
    $candidate-finder-footer-height + 
    $candidate-finder-footer-top-margin;

  @include legco-media-query($from: tablet) {
    $candidate-finder-show-results-height:
      legco-get-space(2) +
      get-typography-property(19, "line-height", tablet) * 2;
    $candidate-finder-footer-height: 
      $candidate-finder-show-results-height + 
      $candidate-finder-footer-top-bottom-padding * 2;
    
    padding-bottom: 
      $candidate-finder-footer-height + 
      $candidate-finder-footer-top-margin;
  }
}

.candidate-finder__footer {
  @extend %legco-facet-footer;
  padding-top: $candidate-finder-footer-top-bottom-padding;
  padding-bottom: $candidate-finder-footer-top-bottom-padding;
}

.candidate-finder__show-results {
  @include legco-media-query($from: tablet) {
    width: 100%;
  }
}

// Styling for the text search box
//
// Put the label over the input widget

.candidate-search {
  position: relative;
}

.candidate-search__label {
  $border-width: $legco-border-width-form-element;

  position: absolute;
  top: $border-width;
  left: $border-width;

  // Remove default margin
  margin: 0;
  @include legco-responsive-padding(1, "top");
  @include legco-responsive-padding(1, "bottom");
  padding-left: 1em;

  color: legco-get-color("dark-grey");

  pointer-events: none;
}

// Styling for expanders inside candiate finder.
//
// Changes: 1. Shift expander panel to the right to make space for
// the checkbox touch target visual feedback, 2. align expander 
// header icon and text with the checkbox widgets and labels.

$legco-expander-icon-size: 30px;
$legco-checkbox-size: 24px;
$legco-touch-target-size: 44px;
$legco-expander-offset: ($legco-touch-target-size - $legco-checkbox-size) / 2;

.candidate-filter__expander {
  .legco-expander__header {
    // Align header text with the checkbox labels
    $header-left-padding: 
      $legco-expander-offset + 
      $legco-checkbox-size + 
      ($legco-touch-target-size - $legco-checkbox-size) / 2;
    
    padding-left: $header-left-padding;
  }
  .legco-expander__icon {
    // Align header icon (arrow) with the checkbox widget
    $icon-offset: $legco-expander-offset - 
      ($legco-expander-icon-size - $legco-checkbox-size) / 2;
    
    left: $icon-offset;
  }
}

.candidate-filter__label,
.candidate-filter__options {
  // Apply expander panel offset
  padding-left: $legco-expander-offset;
}
